PORT=4000

CONNECTION_STRING=

cloudinary_Config_Cloud_Name=
cloudinary_Config_api_key=
cloudinary_Config_api_secret=

JWT_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=